{% include 'header.html' %}

<div class="inner-banner">
</div>
<!-- <section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Login</li>
        </ul>
    </div>
</section> -->

    <!-- form section start -->
    <section class="w3l-hotair-form">
       
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                   
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="/static/images/19.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                     <div class="content-wthree">
                        <h2 style="    font-size: 29px !important;">Enter Your E-Mail ID</h2>
                        <form method="POST">
                            <input type="text" class="text" name="usernamee" placeholder="User Name" required="" autofocus>
                            <button class="btn" type="submit" name="verify" style="margin-top: 20px">Verify</button>
                        </form>
                        
               <!--          <p class="account">Don't have an account? <a href="#signup">Register</a></p> -->
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
      
    </section>
    <!-- //form section start -->






{% include 'footer.html' %}