{% include 'header.html' %}

<div class="inner-banner">
</div>
<!-- <section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Login</li>
        </ul>
    </div>
</section> -->

    <!-- form section start -->
    <section class="w3l-hotair-form">
       
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <form method="POST">
                            <input type="text" class="text" name="username" placeholder="User Name" required="" autofocus>
                            <input type="password" class="password" name="password" placeholder=" Password" required="" autofocus>
                            <a href="/forgot" id="forgot" style="position: relative;left: 200px;      color: dodgerblue;  text-decoration: underline !important;">Forgot Password?</a>
                            <button class="btn" type="submit" name="login" style="margin-top: 20px">Login</button>
                        </form>
                        
               <!--          <p class="account">Don't have an account? <a href="#signup">Register</a></p> -->
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="/static/images/13.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
      
    </section>
    <!-- //form section start -->






{% include 'footer.html' %}