{% include 'header.html' %}

<body><center>
<form method="post"  >
	<h2>REGISTRATION FORM</h2>
	<table>
		<tr>

			<td>First Name</td>
			<td><input type="text" name="fname" placeholder="Enter the First name"></td>

		</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		<tr>
			<td>Last Name</td>
			<td><input type="text" name="lname" placeholder="Enter the Last name"></td>
		</tr>

		<tr>
				<td></td>
				<td></td>
			</tr>
		
		<tr>
			<td>Phone Number</td>
			<td><input type="text" name="phno" placeholder="Enter Phone Number"></td>
		</tr>
		<tr>
				<td></td>
				<td></td>
			</tr>
		
		<tr>
				<td></td>
				<td></td>
			</tr>
		<tr>
			<td>Place</td>
			<td><input type="text" name="place" placeholder="Enter your place"></td>
		</tr>
		<tr>
				<td></td>
				<td></td>
			</tr>
		<tr>
			<td>House</td>
			<td><input type="text" name="house" placeholder="Enter your House Name"></td>
		</tr>
		<tr>
				<td></td>
				<td></td>
			</tr>
		<tr>
			<td>Pincode</td>
			<td><input type="text" name="pincode" placeholder="Enter your pincode"></td>
		</tr>
		<tr>
				<td></td>
				<td></td>
			</tr>
		<tr>
			<td>Latitude</td>
			<td><input type="text" name="latitude" placeholder="Enter your latitude"></td>
		</tr>
		<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
			<td>Longitude</td>
			<td><input type="text" name="longitude" placeholder="Enter your longitude"></td>
		</tr>
			<tr>
			<td>E-Mail</td>
			<td><input type="mail" name="mail" placeholder="Enter valid E-mail id"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="Password" name="Password" placeholder="Enter the Password"></td>
		</tr>
		<tr>
				<td></td>
				<td></td>
			</tr>
		<tr>
			<td colspan="2" align="center"> <input type="submit" name="submit" value="REGISTER"></td>
		</tr>
	</table>
</form>
<i><a href="/login">Login here </a></i>
</center>
</body>
</html>