{% include 'storeheader.html' %}

<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>View OutofStock</li>
        </ul>
    </div>
</section>
 <!--/contact-->
  <section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
      <div class="title-content text-center">
        <h6 class="sub-titlehny">Stock</h6>
        <h3 class="hny-title">Out of Stock Products</h3>
    </div>
		          
<table class="outofstock">
  <thead >
  	 <tr>
		<th scope="col">Sl.No</th>
		<th scope="col">Image</th>
		<th scope="col">Product Name</th>  
    <th scope="col">Store Name</th>
	<th scope="col">Description</th>
    <th scope="col">Amount</th> 
    <th scope="col">Stock</th> 
<!--     <th scope="col">Unit</th>  -->
	
	</tr>
</thead>
<tbody>
    {% for row in data['outofstock'] %}
  <tr>
    <td scope="row" data-label="Sl.No">{{loop.index}}</td>
    <td scope="row" data-label="Image"><img src="../{{row['image']}}" alt="soorryy" style="width: 150px;  height: 120px;"></td>
    <td scope="row" data-label="Product Name">{{row['product_name']}}</td>
 
    <td scope="row" data-label="Store Namer">{{row['store_name']}}</td>
    <td scope="row" data-label="Description">{{row['description']}}</td>
    <td scope="row" data-label="Amount">{{row['amount']}}</td>
    <td scope="row" data-label="Stock">Out Of Stock</td>
<!--     <td scope="row" data-label="Unit">{{row['unit']}}</td> -->

  
  </tr>
  {% endfor %}
</tbody>

</table>

</center>
</div>
</section>


{% include 'footer.html' %}
<style type="text/css">
	#deletestore,
	#updatestore{
		padding: 10px;
		color: black;
		border-radius: 5px
	}
	#deletestore
	{
		background-color: crimson;
	}
	#updatestore{
		    background-color: mediumseagreen;
	}

</style>